body, html {
			height: 100%;
			margin: 0;
			font-family: Arial, Helvetica, sans-serif;
		}
	
		.hero-image {
			background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("IMG-20240308-WA0059.jpg");
			height: 50%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			opacity: 0.8;
		}

		.tab {
			overflow: hidden;
			border: 1px solid #ccc;
			background-color: #004225;
		}
		
		.tab button {
			background-color: #004225;
			float: left;
			border: none;
			outline: none;
			cursor: pointer;
			padding: 14px 16px;
			transition: 0.3s;
			font-size: 17px;
			color:white;
		}
		
		.tab button:hover {
			background-color: #006400;
		}
		
		.tab button.active {
			background-color:#006400;
		}
		
		.tabcontent {
			display: none;
			padding: 6px 12px;
			border: 1px solid #ccc;
			border-top: none;
		}
		
		.foot {
			background-color: #551606;
			color:#fff;
			text-align: center;
			padding: 10px;
				
		}
		
		.container {
			position: relative;
			display: inline-block;
		}

		.image {
			display: block;
			width: 100%;
			height: auto;
		}

		.description {
			  position: absolute;
			  top: 50%;
			  left: 130%;
			  transform: translate(-50%, -50%);
			  background-color: rgba(0, 0, 0, 0.7);
			  color: #fff;
			  padding-top: 60px;
			  padding-right:113px;
			  padding-bottom: 45px;
			  padding-left: 58.7px;
			  font-size: 18px;
			  text-align: center;
			}
			
		#grad {
			background-color: #848B79;
			background-image: linear-gradient(to bottom right, #848B79, #F0FFF0);
		}
		
		h4 {
			font-size: 100px;
			font-family:Garamond;
			background: -webkit-linear-gradient(#004225,#2C3539);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
	}
	
	footer {
		background-color: black;
		color:#fff;
		text-align: center;
		padding: 5px;
		
	}
